.task{
    margin-top: 1.5rem;
    width: 46rem;
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-400);

}

.taskCheck{
    display: flex;
    gap: 0.75rem;
    font-weight: 400;
    color: var(--gray-100);
}

.taskCheck button{
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50px;
    border: 2px solid var(--blue);
    background: transparent;
}

.taskCheck button:hover{
    border: 2px solid var(--blue-dark);
}

.trash{
    color: var(--gray-300);
}

.trash:hover{
    color: var(--danger);
}